.container-category-sidebar {
  display: grid;
  grid-template-columns: 1fr 3fr;
 
}

.container-sidebar-category {
  background-color: #fff;
  min-height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}

.content-category {
  width: 100%;
}
