
.footer-content {
    padding: 20px;
    border-top: #080808 solid 1px;
    background-color: #a6a6a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-start;
  }
  
  .social-icons svg {
    color: black;
    margin-right: 10px;
    font-size: 24px; 
    width: 24px; 
    height: 24px; 
  }
  
  .contact-info,
  .location-info {
    display: flex;
    align-items: center;
  }
  
  .contact-info svg,
  .location-info svg {
    color: black;
    margin-right: 5px;
    font-size: 24px; 
  }
  
  .contact-info p,
  .location-info p {
    margin: 0;
    color: #333; 
    font-size: 18px;
  }
  
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column; 
      text-align: center; 
    }
  
    .social-icons {
      margin-bottom: 10px; 
    }
  
    .contact-info,
    .location-info {
      margin-top: 10px; 
    }
  }
  
 
  @media (max-width: 480px) {
    .social-icons {
      justify-content: center; 
    }
  
    .contact-info svg,
    .location-info svg {
      font-size: 20px; 
    }
  
    .contact-info p,
    .location-info p {
      font-size: 16px; 
    }
  }
  