.layout {
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Texto gris oscuro */
  }
  
  .table-container {
    padding: 20px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #ccc; /* Borde gris claro */
    padding: 8px;
    text-align: center;
  }
  
  .product-table th {
    background-color: #f2f2f2; /* Fondo gris claro para las cabeceras */
  }
  
  .product-table img {
    max-width: 50px;
  }
  
  .edit-form {
    padding: 20px;
  }
  
 