.container-ventas-sidebar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #a6a6a6;
}

.container-sidebar {
    background-color: white;
    min-height: 100vh;
    padding: 15px;
    box-sizing: border-box;
}

.content {
    width: 100%;
}
